@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #ea001e;
  --color-secondry: #1f2e4e;
  --color-dark: #000c21;
  --color-light: #6e7684;
  --font-mons: "Montserrat", sans-serif;
  --font-lato: "Lato", sans-serif;
}
@layer base {
  body {
    background-color: #ffffff;
    font-family: var(--font-mons);
    line-height: 1.5;
    color: var(--color-light);
    font-size: 1rem;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2 {
    @apply uppercase mb-[1rem] font-semibold text-center;
    font-size: calc(1.425rem + 2.1vw);
    color: var(--color-dark);
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  section {
    @apply py-12 px-2;
  }
  footer h4 {
    @apply text-white mb-2;
  }
  footer p,
  footer span {
    @apply text-[#6c757d] leading-9;
  }
}
@utility rounded-pill {
  @apply rounded-[50rem];
}
@layer utilities {
  .main-section {
    @apply mx-auto px-4 md:px-12;
  }
  .day {
    @apply text-[#6c757d];
  }
  .time {
    @apply text-white;
  }
  .floating-nav {
    @apply bg-black shadow-2xl;
  }
  .bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(31, 46, 78, 1), rgba(0, 12, 33, 0.8)),
      url(../img/fact-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    transition: 0.5s;
  }
  .icon-back {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
    color: var(--color-secondry);
    transition: 0.5s;
    background-color: var(--color-primary);
    animation: icon-animate 5s ease-in 1s infinite alternate both;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }

  @keyframes icon-animate {
    0% {
      border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;
    }
    25% {
      border-radius: 69% 31% 19% 81% / 43% 37% 63% 57%;
    }
    50% {
      border-radius: 67% 33% 16% 84% / 57% 37% 63% 43%;
    }
    75% {
      border-radius: 77% 23% 61% 39% / 36% 61% 39% 64%;
    }
    100% {
      border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;
    }
  }

  .back-to-top {
    @apply text-white bg-secondry w-14 h-14 rounded-full flex items-center justify-center transition duration-[0.5s] z-[99] fixed bottom-8 right-8 hover:bg-primary cursor-pointer;

    & .arrow-above {
      animation: go-to-top 1.2s linear infinite alternate-reverse;
    }
  }
  @keyframes go-to-top {
    0% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(1rem);
    }
  }

  /* @keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInRight 0.5s ease-out forwards;
} */
  .animate-up {
    animation: fadeInUp 1.8s;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  .animate-down {
    animation: fadeInDown 1.8s;
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  .fill {
    animation: fillBackground 3s ease-in 1s once alternate both;
  }
  @keyframes fillBackground {
    0% {
      height: 0;
    }
    50% {
      height: 50%;
      background-color: black;
    }
    100% {
      height: 100%;
      background-color: chocolate;
    }
  }
}
